.loading,
.screen,
.page,
.wrapper,
.end{
	position:absolute;
	width:10.0rem;
	top: 0;
	bottom: 0;
	left: 0;
	overflow:hidden;
	}
.loading{
	background: #fff;
	z-index: 999;
}
.loading img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 2.278481rem;
	height:2.278481rem;
}
.loading .bar{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 1.56962rem;
	height: 0.101266rem;
	border: solid 0.025316rem #717171;
	margin-top: 1.582278rem;
	border-radius: 0.037975rem;
}
.loading .bar p{
	width: 0%;
	height: 0.101266rem;
	background: #000;
}
.page{
	display: none;
	transform: translate3d(0, 100%, 0);
	padding-top: 1.64557rem;
}
.page.current{
	display: block;
	animation: PageIn 0.2s forwards;
}
.end{
	display: none;
	padding-top: 1.64557rem;
}
.end.current{
	display: block;
	animation: PageIn 0.2s forwards;
}
.in{
	animation: PageIn 0.5s forwards;
}
.out{
	animation: PageOut 0.5s forwards;
}
@keyframes PageIn {
	from { transform: translate3d(0, 100%, 0); opacity: 0; }
	to { transform: translate3d(0, 0, 0); opacity: 1;}
}
@keyframes PageInTop {
	from { transform: translate3d(0, -200%, 0); opacity: 0; }
	to { transform: translate3d(0, 0, 0); opacity: 1;}
}
@keyframes PageOut {
	from { transform: translate3d(0, 0, 0);  }
	to { transform: translate3d(0,-200%, 0); opacity: 0;}
}
@keyframes PageOutDown {
	from { transform: translate3d(0, 0, 0);  }
	to { transform: translate3d(0, 200%, 0); opacity: 0;}
}
@keyframes PageOutDownTop {
	from { transform: translate3d(0,-200%, 0);  }
	to { transform: translate3d(0, 0, 0); opacity: 1;}
}
@keyframes PageInLeft {
	from { transform: translate3d(-200%, 0, 0); opacity: 1; }
	to { transform: translate3d(0, 0, 0); opacity: 1;}
}
@keyframes PageInRight {
	from { transform: translate3d(200%, 0, 0); opacity: 1; }
	to { transform: translate3d(0, 0, 0); opacity: 1;}
}
@keyframes FadeIn {
	from {  }
	to { opacity: 1; }
}
img{
	width:100%;
}
header{
	position: absolute;
	top:0;
	left:0;
	right:0;
	width:10.0rem;
	height:2.025316rem;
	opacity: 0;
}
.p1{

	& .logo{
		position: absolute;
		top:6.075949rem;
		left:0.35443rem;
		opacity: 0;
		width:9.139241rem;
		height:2.987342rem;
	}
	& .bg{
		position: absolute;
		left:0.582278rem;
		right:0.582278rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
		top:2.278481rem;
	}
	& .bg .txt{
		position: absolute;
		top:0;
		left:0;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	&.current .logo{
		animation: p1logo 4s forwards;
	}
	&.current .bg{
		animation: PageIn 1s 3s forwards;
	}
	&.current .bg .txt{
		animation: PageIn 1s 4.5s forwards;
	}
}
@keyframes p1logo {
	0% {  }
	50%{
		top:6.075949rem;
		opacity: 1; 
	}
	100% { 
		top:0.050633rem;
		opacity: 1; 
	}
}
.p2 {
	& .bg{
		transform: translate3d(0, 200%, 0);
		opacity: 0;
		height: 100%;
	}
	& .box{
		position: absolute;
		top:2.025316rem;
		left:4.126582rem;
		overflow: hidden;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
		width:5.063291rem;
	}
	& .box .txt{
		position: absolute;
		top:2.35443rem;
		width:4.206329rem;
		left:0.379747rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .box2 .txt{
		top:3.417722rem;
	}
	&[class*="step"] .bg{
		animation: PageIn 0.5s forwards;
	}
	&.step2 .box1,
	&.step3 .box1,
	&.step3 .box1 .txt1,
	&.step4 .box1,
	&.step4 .box1 .txt2,
	&.step5 .box1,
	&.step5 .box1 .txt3,
	&.step6 .box2,
	&.step7 .box2,
	&.step7 .box2 .txt1,
	&.step8 .box2,
	&.step8 .box2 .txt2{
		animation: PageIn 0.5s forwards;
	}
	&.step4 .box1 .txt1,
	&.step5 .box1 .txt2,
	&.step6 .box1,
	&.step6 .box1 .txt3,
	&.step8 .box2 .txt1{
		animation: PageOut 0.5s forwards;
	}
	&.step1.down .box1,
	&.step2.down .box1 .txt1,
	&.step3.down .box1 .txt2,
	&.step4.down .box1 .txt3,
	&.step5.down .box2,
	&.step6.down .box2 .txt2{
		animation: PageOutDown 0.5s forwards;
	}
	&.step3.down .box1 .txt1,
	&.step4.down .box1 .txt2,
	&.step5.down .box1,
	&.step5.down .box1 .txt3,
	&.step7.down .box2 .txt1,
	&.step8.down .box2 .txt2{
		animation: PageOutDownTop 0.5s forwards;
	}
}
.p3{
	& .bg{
		transform: translate3d(0, 200%, 0);
		opacity: 0;
		height: 100%;
	}
	& .box{
		position: absolute;
		top:2.151899rem;
		left:0.886076rem;
		width:8.379747rem;
		height:12.746835rem;
		opacity: 0;
	}
	& .box .txt{
		position: absolute;
		top:4.810127rem;
		width:7.113924rem;
		left:0.734177rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	&.step1 .bg{
		animation: PageIn 0.5s forwards;
	}
	&.step1 .box{
		animation: FadeIn 0.5s  0.5s forwards;
	}
	&.step1 .txt{
		animation: PageIn 0.5s 1s forwards;
	}
}
.p4{
	& .bg{
		transform: translate3d(0, 200%, 0);
		opacity: 0;
		height: 100%;
	}
	& .txt1{
		position: absolute;
		top:5.797468rem;
		right:0.987342rem;
		width:4.822785rem;
		height:6.43038rem;
		transform: translate3d(200%, 0, 0);
		opacity: 0;
	}
	& .txt2{
		position: absolute;
		top:12.43038rem;
		right:1.037975rem;
		width:4.531646rem;
		height: 2.43038rem;
		transform: translate3d(200%, 0, 0);
		opacity: 0;
	}
	& .pho{
		position: absolute;
		top:4.151899rem;
		left:0.582278rem;
		width: 2.962025rem;
		height: 8.037975rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .info{
		position: absolute;
		top:12.177215rem;
		left:0.582278rem;
		width:3.126582rem;
		height:2.898734rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .b{
		position: absolute;
		top:2.202532rem;
		left:0.582278rem;
		width:8.886076rem;
		height: 13.594937rem;
		background: #000;
		display: none;
	}
	& .i1{
		position: absolute;
		top:0.278481rem;
		left:0.278481rem;
		width:3.987342rem;
		height: 5.924051rem;
		opacity: 0;
		animation: fadeIn 0.5s  forwards;
	}
	& .i2{
		position: absolute;
		top:0.278481rem;
		right:0.278481rem;
		width:3.987342rem;
		height: 5.924051rem;
		opacity: 0;
		animation: fadeIn 0.5s  0.5s forwards;
	}
	& .i3{
		position: absolute;
		top:6.632911rem;
		left:0.278481rem;
		width:3.987342rem;
		height: 5.924051rem;
		opacity: 0;
		animation: fadeIn 0.5s 1s forwards;
	}
	& .i4{
		position: absolute;
		top:6.632911rem;
		right:0.278481rem;
		width:3.987342rem;
		height: 5.924051rem;
		opacity: 0;
		animation: fadeIn 0.5s 1.5s forwards;
	}
	& .pop{
		position: absolute;
		top:4.835443rem;
		left:3.037975rem;
		width:3.189873rem;
		height: 2.556962rem;
		transform: scale3d(0, 0, 0);
		animation: bounceIn 0.5s 2s forwards;
	}
	&[class*="step"] .bg{
		animation: PageIn 0.5s forwards;
	}
	&.step1 .txt1,
	&.step1 .txt2{
		animation: PageInRight 0.5s 0.5s forwards;
	}
	&.step1 .pho,
	&.step1 .info{
		animation: PageIn 0.5s 0.5s forwards;
	}
	&.step2 .bg{
		display: none;
	}
	&.step2 .b{
		display: block;
	}
}
.p5{
	& .img{
		position: absolute;
		top:2.202532rem;
		left:0.582278rem;
		width:4.43038rem;
		height:12.556962rem;
		transform: translate3d(-200%, 0, 0);
		opacity: 0;
	}
	& .txt{
		position: absolute;
		top:2.202532rem;
		right:0.582278rem;
		width:4.139241rem;
		height: 12.379747rem;
		transform: translate3d(200%, 0, 0);
		opacity: 0;
	}
	& b{
		position: absolute;
		top:2.202532rem;
		left:5.113924rem;
		height:12.556962rem;
		border-left:solid 1px #000;
	}
	& .i5,
	& .bg{
		position: absolute;
		width:8.860759rem;
		height: 12.556962rem;
		top:2.202532rem;
		left:0.607595rem;
		overflow: hidden;
	}
	& .bg{
		display: none;
	}
	& .bg img{
		position: absolute;
		width:18.873418rem;
		height:12.556962rem;
		left:0.0rem;
		animation: p5moveleft 1.5s forwards;
	}
	& .i5{
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	&.step1 .i1,
	&.step2 .i2,
	&.step3 .i3,
	&.step4 .i4,{
		animation: PageInLeft 0.5s forwards;
	}
	&.step1 .t1,
	&.step2 .t1,
	&.step3 .t2,
	&.step4 .t2{
		animation: PageInRight 0.5s forwards;
	}
	&.step5 b,
	&.step6 b{
		display: none;
	}
	&.step5 .i5{
		animation: PageIn 0.5s forwards;
	}
	&.step6 .bg{
		display: block;
	}
}
@keyframes p5moveleft {
	from{}
	to{
		left:-10.012658rem;
	}
}
.p6{
	& .bg{
		display: none;
		position: absolute;
		width:8.860759rem;
		height: 12.556962rem;
		top:2.202532rem;
		left:0.607595rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .txt1{
		position: absolute;
		width:4.113924rem;
		height:2.493671rem;
		top:9.64557rem;
		left:2.886076rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .txt2{
		position: absolute;
		top:12.455696rem;
		left:1.367089rem;
		width:7.189873rem;
		height: 2.189873rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .img{
		position: absolute;
		top:2.202532rem;
		right:0.582278rem;
		width:4.43038rem;
		height:12.556962rem;
		transform: translate3d(200%, 0, 0);
		opacity: 0;
	}
	& .txt{
		position: absolute;
		top:2.202532rem;
		left:0.759494rem;
		width:4.139241rem;
		height: 12.379747rem;
		transform: translate3d(-200%, 0, 0);
		opacity: 0;
	}
	& b{
		position: absolute;
		top:2.202532rem;
		left:0.556962rem;
		height:12.556962rem;
		border-left:solid 1px #000;
	}
	& .bg2{
		display: none;
		position: absolute;
		width:8.860759rem;
		height: 12.556962rem;
		top:2.202532rem;
		left:0.607595rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .pop{
		display: none;
		position: absolute;
		width:3.139241rem;
		height: 2.594937rem;
		top:10.860759rem;
		left:3.417722rem;
		transform: scale3d(0, 0, 0);
		animation: bounceIn 0.5s 1s forwards;
	}
	&.step1 .bg,
	&.step6 .bg2{
		display: block;
		animation: PageIn 0.5s forwards;
	}
	&.step1 .txt1,
	&.step1 .txt2{
		animation: PageIn 0.5s 0.5s forwards;
	}
	&.step1 b,
	&.step6 b{
		display: none;
	}
	&.step2 .t1,
	&.step3 .t1,
	&.step4 .t2,
	&.step5 .t2{
		animation: PageInLeft 0.5s forwards;
	}
	&.step2 .i1,
	&.step3 .i2,
	&.step4 .i3,
	&.step5 .i4{
		animation: PageInRight 0.5s forwards;
	}
	&.step6 .pop{
		display: block;
	}
}
.p7{
	& .bg{
		display: none;
		position: absolute;
		width:8.126582rem;
		height: 13.341772rem;
		top:1.873418rem;
		left:1.341772rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .txt1{
		position: absolute;
		width:4.278481rem;
		height:3.392405rem;
		top:8.405063rem;
		left:2.886076rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .txt2{
		position: absolute;
		top:12.35443rem;
		left:2.0rem;
		width:5.797468rem;
		height: 1.974684rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .i2{
		position: absolute;
		top:2.202532rem;
		left:1.392405rem;
		width:7.113924rem;
		height: 6.797468rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .t2{
		position: absolute;
		top:9.367089rem;
		left:1.392405rem;
		width:7.202532rem;
		height: 4.911392rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .i3{
		position: absolute;
		top:6.405063rem;
		left:1.392405rem;
		width:7.113924rem;
		height: 7.772152rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .t3{
		position: absolute;
		top:2.227848rem;
		left:1.392405rem;
		width:7.202532rem;
		height: 3.392405rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .i4{
		position: absolute;
		top:2.177215rem;
		left:1.392405rem;
		width:7.113924rem;
		height: 7.772152rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .t4{
		position: absolute;
		top:10.78481rem;
		left:1.392405rem;
		width:7.202532rem;
		height: 3.379747rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	&.step1 .bg{
		display: block;
		animation: PageIn 0.5s forwards;
	}
	&.step1 .txt1,
	&.step1 .txt2,
	&.step2 .i2,
	&.step2 .t2,
	&.step3 .i3,
	&.step3 .t3,
	&.step4 .i4,
	&.step4 .t4{
		animation: PageIn 0.5s 0.5s forwards;
	}
}
.p8{
	& .bg1{
		position: absolute;
		width:10.0rem;
		height:8.050633rem;
		top:6.759494rem;
		left:0;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .txt{
		position: absolute;
		width:8.860759rem;
		height:4.151899rem;
		top:2.278481rem;
		left:0.556962rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .pop{
		display: none;
		position: absolute;
		width:1.936709rem;
		height: 1.936709rem;
		top:13.113924rem;
		left:0.582278rem;
		transform: scale3d(0, 0, 0);
		animation: bounceIn 0.5s 0.5s forwards;
	}
	& .bg2{
		position: absolute;
		width:10.0rem;
		height:7.063291rem;
		top:1.64557rem;
		left:0;
		transform: translate3d(0,-200%, 0);
		opacity: 0;
	}
	& .i2{
		position: absolute;
		width:3.658228rem;
		height:5.506329rem;
		top:8.987342rem;
		left:0.582278rem;
		transform: translate3d(-200%, 0, 0);
		opacity: 0;
	}
	& .txt2{
		position: absolute;
		width:4.113924rem;
		height:4.886076rem;
		top:9.21519rem;
		left:5.063291rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
		overflow: hidden;
	}
	& .txt2 img{
		position: absolute;
		width:4.113924rem;
		top:0rem;
	}
	& .txt2 .t2{
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .bg3{
		width: 10.0rem;
		transform: translate3d(0,-200%, 0);
		opacity: 0;
	}
	& .pop3{
		display: none;
		position: absolute;
		width:1.936709rem;
		height: 1.936709rem;
		top:12.658228rem;
		left:0.582278rem;
		transform: scale3d(0, 0, 0);
		animation: bounceIn 0.5s 0.5s forwards;
	}
	& .txt3{
		position: absolute;
		background: #fff;
		width: 5.21519rem;
		height:7.670886rem;
		top:8.101266rem;
		right:0;
		opacity: 0;
		overflow: hidden;
	}
	& .txt3 img{
		position: absolute;
		width:4.101266rem;
		top:0.506329rem;
		left:0.506329rem;
	}
	& .txt3 .t2{
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .bg4,
	& .bg5{
		position: absolute;
		top:5.063291rem;
		left: 0;
		width:10.0rem;
		height: 6.151899rem;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .pop4,
	& .pop5{
		display: none;
		position: absolute;
		width:1.936709rem;
		height: 1.936709rem;
		top:10.278481rem;
		left:0.582278rem;
		transform: scale3d(0, 0, 0);
		animation: bounceIn 0.5s 0.5s forwards;
	}
	& .pop5{
		left:7.493671rem;
	}
	& .i4,
	& .i5{
		position: absolute;
		top:8.987342rem;
		right:0.556962rem;
		width: 3.658228rem;
		height: 5.506329rem;
		transform: translate3d(200%, 0, 0);
		opacity: 0;
	}
	& .txt4,
	& .txt5{
		position: absolute;
		background: #fff;
		width: 4.139241rem;
		height:5.101266rem;
		top:9.037975rem;
		left:0.78481rem;
		overflow: hidden;
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	& .txt4 img,
	& .txt5 img{
		position: absolute;
		width: 4.139241rem;
	}
	& .txt4 .t2,
	& .txt5 .t2{
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
	&.step1 .pop,
	&.step4 .pop3,
	&.step5 .pop3,
	&.step6 .pop4,
	&.step7 .pop4,
	&.step8 .pop4,
	&.step9 .pop5,
	&.step10 .pop5,
	&.step11 .pop5{
		display: block;
	}
	&.step1 .bg1,
	&.step1 .txt,
	&.step2 .txt2,
	&.step3 .txt2,
	&.step3 .txt2 .t2,
	&.step5 .txt3 .t2,
	&.step6 .bg4,
	&.step7 .txt4,
	&.step8 .txt4,
	&.step8 .txt4 .t2,
	&.step9 .bg5,
	&.step10 .txt5,
	&.step11 .txt5,
	&.step11 .txt5 .t2{
		animation: PageIn 0.5s forwards;
	}
	&.step2 .bg2,
	&.step3 .bg2,
	&.step4 .bg3,
	&.step5 .bg3{
		animation: PageInTop 0.5s forwards;
	}
	&.step3 .txt2 .t1,
	&.step5 .txt3 .t1,
	&.step8 .txt4 .t1,
	&.step11 .txt5 .t1{
		animation: PageOut 0.5s forwards;
	}
	&.step2 .i2,
	&.step3 .i2{
		animation: PageInLeft 0.5s forwards;
	}
	&.step7 .i4,
	&.step8 .i4,
	&.step10 .i5,
	&.step11 .i5{
		animation: PageInRight 0.5s forwards;
	}
	&.step4 .txt3,
	&.step5 .txt3{
		animation: FadeIn 0.5s 1s forwards;
	}
	&.step7 .bg4,
	&.step8 .bg4,
	&.step10 .bg5,
	&.step11 .bg5{
		animation: p8top 0.5s forwards;
	}
	
	&.step7 .pop4,
	&.step8 .pop4,
	&.step10 .pop5,
	&.step11 .pop5{
		animation: p8pop 0.5s forwards;
	}
	
	&.step2.down .txt2 .t2,
	&.step4.down .txt3 .t2,
	&.step7.down .txt4 .t2,
	&.step10.down .txt5 .t2{
		animation: PageOutDown 0.5s forwards;
	}
	&.step2.down .txt2 .t1,
	&.step4.down .txt3 .t1,
	&.step7.down .txt4 .t1,
	&.step10.down .txt5 .t1{
		animation: PageOutDownTop 0.5s forwards;
	}
}
@keyframes p8top {
	from{
		transform: translate3d(0, 0, 0);
		opacity: 1;
		top:5.063291rem;
	}
	to{
		transform: translate3d(0, 0, 0);
		opacity: 1;
		top:1.64557rem;
	}
}
@keyframes p8pop {
	from{
		top:10.278481rem;
		transform: scale3d(1, 1, 1);
	}
	to{
		top:6.78481rem;
		transform: scale3d(1, 1, 1);
	}
}