@import 'reset-mobile';
@import 'base';
@import 'animate';

$dur: 0.5s;
$gap: 0.5s;

header{
	/*display: block;*/
}

.p9{
	img{
		opacity: 0;
	}
	&.step1{
		.s1 img{
			position: absolute;
			&:nth-child(1){
				width:4.025316rem;
				top: 1.64557rem;
				left: 0.56962rem;
				animation: fadeInLeft $dur .5s forwards;
			}
			&:nth-child(2){
				width:4.848101rem;
				top: 1.64557rem;
				left: 4.582278rem;
				animation: fadeInRight $dur .5s forwards;
			}
			&:nth-child(3){
				width:8.379747rem;
				top: 10.063291rem;
				left: 0.835443rem;
				animation: fadeInUp $dur $gap*1+.5s forwards;
			}
			&:nth-child(4){
				width:4.35443rem;
				top: 12.417722rem;
				left: 0.873418rem;
				animation: fadeInUp $dur $gap*2+.5s forwards;
			}
			&:nth-child(5){
				width:2.050633rem;
				top: 14.405063rem;
				left: 0.848101rem;
				animation: fadeInUp $dur $gap*3+.5s forwards;
			}
			&:nth-child(6){
				width:3.240506rem;
				top: 12.518987rem;
				left: 5.632911rem;
				animation: fadeInUp $dur $gap*4+.5s forwards;
			}
		}
	}
	&.down.step1{
		.s2 img{
			position: absolute;
			&:nth-child(1){
				width:4.075949rem;
				top: 2.151899rem;
				left: 0.56962rem;
				animation: fadeOutUp $dur forwards;
			}
			&:nth-child(2){
				width:4.43038rem;
				top: 2.291139rem;
				left: 5.0rem;
				animation: fadeOutDown $dur forwards;
			}
		}
	}

	&.up.step2{
		.s2 img{
			position: absolute;
			&:nth-child(1){
				width:4.075949rem;
				top: 2.151899rem;
				left: 0.56962rem;
				animation: fadeInUp $dur forwards;
			}
			&:nth-child(2){
				width:4.43038rem;
				top: 2.291139rem;
				left: 5.0rem;
				animation: fadeInDown $dur forwards;
			}
		}
	}
	&.down.step2{
		.s2 img{
			position: absolute;
			&:nth-child(1){
				width:4.075949rem;
				top: 2.151899rem;
				left: 0.56962rem;
				animation: fadeInUp $dur forwards;
			}
			&:nth-child(2){
				width:4.43038rem;
				top: 2.291139rem;
				left: 5.0rem;
				animation: fadeInDown $dur forwards;
			}
		}
		.s3 img{
			position: absolute;
			&:nth-child(1){
				width:4.075949rem;
				top: 2.151899rem;
				left: 0.56962rem;
				animation: fadeOutUp $dur forwards;
			}
			&:nth-child(2){
				width:4.43038rem;
				top: 2.291139rem;
				left: 5.0rem;
				animation: fadeOutDown $dur forwards;
			}
		}
	}

	&.up.step3{
		.s2 img{
			position: absolute;
			&:nth-child(1){
				width:4.075949rem;
				top: 2.151899rem;
				left: 0.56962rem;
				animation: fadeOutUp $dur forwards;
			}
			&:nth-child(2){
				width:4.43038rem;
				top: 2.291139rem;
				left: 5.0rem;
				animation: fadeOutDown $dur forwards;
			}
		}
		.s3 img{
			position: absolute;
			&:nth-child(1){
				width:4.075949rem;
				top: 2.151899rem;
				left: 0.56962rem;
				animation: fadeInUp $dur forwards;
			}
			&:nth-child(2){
				width:4.43038rem;
				top: 2.291139rem;
				left: 5.0rem;
				animation: fadeInDown $dur forwards;
			}
		}
	}
	&.down.step3{
		.s3 img{
			position: absolute;
			&:nth-child(1){
				width:4.075949rem;
				top: 2.151899rem;
				left: 0.56962rem;
				animation: fadeInUp $dur 0.5s  forwards;
			}
			&:nth-child(2){
				width:4.43038rem;
				top: 2.291139rem;
				left: 5.0rem;
				animation: fadeInDown $dur  0.5s forwards;
			}
		}
		.s4 img{
			position: absolute;
			&:nth-child(1){
				width:4.43038rem;
				top: 2.151899rem;
				left: 0.56962rem;
				animation: fadeOutUp $dur forwards;
			}
			&:nth-child(2){
				width:4.139241rem;
				top: 2.151899rem;
				left: 5.21519rem;
				animation: fadeOutDown $dur forwards;
			}
		}
	}

	&.up.step4{
		.s3 img{
			position: absolute;
			&:nth-child(1){
				width:4.075949rem;
				top: 2.151899rem;
				left: 0.56962rem;
				animation: fadeOutUp $dur forwards;
			}
			&:nth-child(2){
				width:4.43038rem;
				top: 2.291139rem;
				left: 5.0rem;
				animation: fadeOutDown $dur forwards;
			}
		}
		.s4 img{
			position: absolute;
			&:nth-child(1){
				width:4.43038rem;
				top: 2.151899rem;
				left: 0.56962rem;
				animation: fadeInDown $dur 0.5s forwards;
			}
			&:nth-child(2){
				width:4.139241rem;
				top: 2.151899rem;
				left: 5.21519rem;
				animation: fadeInUp $dur 0.5s forwards;
			}
		}
	}
	&.down.step4{
		.s4 img{
			position: absolute;
			&:nth-child(1){
				width:4.43038rem;
				top: 2.151899rem;
				left: 0.56962rem;
				animation: fadeInUp $dur forwards;
			}
			&:nth-child(2){
				width:4.139241rem;
				top: 2.151899rem;
				left: 5.21519rem;
				animation: fadeInDown $dur forwards;
			}
		}
		.s5 img{
			position: absolute;
			&:nth-child(1){
				width:4.43038rem;
				top: 2.151899rem;
				left: 0.56962rem;
				animation: fadeOutUp $dur forwards;
			}
			&:nth-child(2){
				width:4.139241rem;
				top: 2.151899rem;
				left: 5.21519rem;
				animation: fadeOutDown $dur forwards;
			}
		}
	}

	&.up.step5{
		.s4 img{
			position: absolute;
			&:nth-child(1){
				width:4.43038rem;
				top: 2.151899rem;
				left: 0.56962rem;
				animation: fadeOutDown $dur forwards;
			}
			&:nth-child(2){
				width:4.139241rem;
				top: 2.151899rem;
				left: 5.21519rem;
				animation: fadeOutUp $dur forwards;
			}
		}
		.s5 img{
			position: absolute;
			&:nth-child(1){
				width:4.43038rem;
				top: 2.151899rem;
				left: 0.56962rem;
				transform: translateY(200%);
				animation: fadeInDown $dur forwards;
			}
			&:nth-child(2){
				width:4.139241rem;
				top: 2.151899rem;
				left: 5.21519rem;
				transform: translateY(-200%);
				animation: fadeInUp $dur forwards;
			}
		}
	}
	&.down.step5{
		.s5 img{
			position: absolute;
			&:nth-child(1){
				width:4.43038rem;
				top: 2.151899rem;
				left: 0.56962rem;
				animation: fadeInUp $dur forwards;
			}
			&:nth-child(2){
				width:4.139241rem;
				top: 2.151899rem;
				left: 5.21519rem;
				animation: fadeInDown $dur forwards;
			}
		}
	}

	&.step6{
		.s6 img{
			position: absolute;
			&:nth-child(1){
				width:8.025316rem;
				top: 1.620253rem;
				left: 1.0rem;
				animation: fadeInDown $dur forwards;
			}
			&:nth-child(2){
				width:8.050633rem;
				top: 7.708861rem;
				left: 0.974684rem;
				animation: fadeInUp $dur $gap forwards;
			}
		}
	}
}

.p10{
	img{
		opacity: 0;
	}
	&.step1{
		.s1 img{
			position: absolute;
			&:nth-child(1){
				width:10.0rem;
				top: 1.632911rem;
				left: 0;
				animation: fadeInUp $dur .5s forwards;
			}
			&:nth-child(2){
				width:7.253165rem;
				top: 9.556962rem;
				left: 1.481013rem;
				animation: fadeInUp $dur $gap*1+.5s forwards;
			}
			&:nth-child(3){
				width:4.493671rem;
				top: 13.202532rem;
				left: 2.759494rem;
				animation: fadeInUp $dur $gap*2+.5s forwards;
			}
		}
	}
	&.step2,&.step3,&.step4{
		.s2{
			position: absolute;
			width: 10rem;
			height: 100%;
			top: 1.632911rem;
			left: 0;
			background: url(../images/p10-bg.jpg) no-repeat;
			background-size: cover;
		}
	}
	&.step2{
		.s2 img{
			position: absolute;
			&:nth-child(1){
				width:4.43038rem;
				top: 1.075949rem;
				left: 0.56962rem;
				animation: fadeInRight $dur .5s forwards;
			}
		}
	}
	&.step3{
		.s2 img{
			position: absolute;
			&:nth-child(1){
				width:4.43038rem;
				top: 1.075949rem;
				left: 0.56962rem;
				animation: fadeInRight $dur .5s forwards;
			}
		}
		.s3 img{
			position: absolute;
			&:nth-child(1){
				width:4.43038rem;
				top: 2.708861rem;
				left: 2.746835rem;
				animation: fadeInRight $dur .5s forwards;
			}
		}
	}
	&.step4{
		.s2 img{
			position: absolute;
			&:nth-child(1){
				width:4.43038rem;
				top: 1.075949rem;
				left: 0.56962rem;
				animation: fadeInRight $dur .5s forwards;
			}
		}
		.s3 img{
			position: absolute;
			&:nth-child(1){
				width:4.43038rem;
				top: 2.708861rem;
				left: 2.746835rem;
				animation: fadeInRight $dur .5s forwards;
			}
		}
		.s4 img{
			position: absolute;
			&:nth-child(1){
				width:4.43038rem;
				top: 2.708861rem;
				left: 5.012658rem;
				animation: fadeInRight $dur .5s forwards;
			}
			&:nth-child(2){
				width:3.772152rem;
				top: 3.088608rem;
				left: 0.911392rem;
				animation: fadeIn $dur $gap*1+.5s forwards;
			}
		}
	}
	&.down{
		&.step2{
			.s3 img{
				position: absolute;
				opacity: 1;
				&:nth-child(1){
					width:4.43038rem;
					top: 2.708861rem;
					left: 2.746835rem;
					animation: fadeOutRight $dur .5s forwards;
				}
			}
		}
		&.step3{
			.s4 img{
				position: absolute;
				opacity: 1;
				&:nth-child(1){
					width:4.43038rem;
					top: 2.708861rem;
					left: 5.012658rem;
					animation: fadeOutRight $dur $gap*1+.5s forwards;
				}
				&:nth-child(2){
					width:3.772152rem;
					top: 3.088608rem;
					left: 0.911392rem;
					animation: fadeOut $dur .5s forwards;
				}
			}
		}
	}
}

.p11{
	img{
		opacity: 0;
	}
	&.step1,&.step2{
		.s1 img{
			position: absolute;
			&:nth-child(1){
				width:7.78481rem;
				top: 1.632911rem;
				left: 1.113924rem;
				animation: fadeInRight $dur .5s forwards;
			}
			&:nth-child(2){
				width:7.759494rem;
				top: 8.139241rem;
				left: 1.113924rem;
			}
		}
		.s2 img{
			position: absolute;
			&:nth-child(1){
				width:7.759494rem;
				top: 8.139241rem;
				left: 1.113924rem;
			}
		}
	}
	&.up{
		&.step1{
			.s1 img{
				&:nth-child(2){
					animation: fadeInUp $dur $gap*1+.5s forwards;
				}
			}
		}
		&.step2{
			.s1 img{
				&:nth-child(2){
					animation: fadeOutUp $dur forwards;
				}
			}
			.s2 img{
				&:nth-child(1){
					animation: fadeInUp $dur forwards;
				}
			}
		}
	}
	&.down{
		&.step1{
			.s1 img{
				&:nth-child(2){
					animation: fadeInDown $dur forwards;
				}
			}
			.s2 img{
				&:nth-child(1){
					animation: fadeOutDown $dur forwards;
				}
			}
		}
		&.step2{
			.s2 img{
				&:nth-child(1){
					animation: fadeInDown $dur forwards;
				}
			}
		}
	}
	&.down.init{
		&.step1{
			.s1 img{
				&:nth-child(2){
					animation: fadeInDown $dur $gap*1+.5s forwards;
				}
			}
			.s2 img{
				&:nth-child(1){
					animation: none;
				}
			}
		}
	}

	&.step3,&.step4{
		.s3 img{
			position: absolute;
			&:nth-child(2){
				width:3.78481rem;
				top: 8.683544rem;
				left: 1.139241rem;
				animation: fadeInLeft $dur .5s forwards;
			}
			&:nth-child(3){
				width:3.873418rem;
				top: 8.683544rem;
				left: 5.050633rem;
				animation: fadeInRight $dur .5s forwards;
			}
			&:nth-child(1){
				width:7.772152rem;
				top: 2.151899rem;
				left: 1.151899rem;
			}
		}
		.s4 img{
			position: absolute;
			&:nth-child(1){
				width:7.772152rem;
				top: 2.151899rem;
				left: 1.151899rem;
			}
		}
	}
	&.up{
		&.step3{
			.s3 img{
				&:nth-child(1){
					animation: fadeInUp $dur $gap*1+.5s forwards;
				}
			}
		}
		&.step4{
			.s3 img{
				&:nth-child(1){
					animation: fadeOutUp $dur forwards;
				}
			}
			.s4 img{
				&:nth-child(1){
					animation: fadeInUp $dur forwards;
				}
			}
		}
	}
	&.down{
		&.step3{
			.s3 img{
				&:nth-child(1){
					animation: fadeInDown $dur forwards;
				}
			}
			.s4 img{
				&:nth-child(1){
					animation: fadeOutDown $dur forwards;
				}
			}
		}
		&.step4{
			.s4 img{
				&:nth-child(1){
					animation: fadeInDown $dur forwards;
				}
			}
		}
	}

	&.step5,&.step6{
		.s5 img{
			position: absolute;
			&:nth-child(1){
				width:3.78481rem;
				top: 2.151899rem;
				left: 1.139241rem;
				animation: fadeInLeft $dur .5s forwards;
			}
			&:nth-child(2){
				width:3.873418rem;
				top: 2.151899rem;
				left: 5.050633rem;
				animation: fadeInRight $dur .5s forwards;
			}
			&:nth-child(3){
				width:7.860759rem;
				top: 8.708861rem;
				left: 1.101266rem;
			}
		}
		.s6 img{
			position: absolute;
			&:nth-child(1){
				width:7.860759rem;
				top: 8.708861rem;
				left: 1.101266rem;
			}
		}
	}
	&.up{
		&.step5{
			.s5 img{
				&:nth-child(3){
					animation: fadeInDown $dur $gap*1+.5s forwards;
				}
			}
		}
		&.step6{
			.s5 img{
				&:nth-child(3){
					animation: fadeOutUp $dur forwards;
				}
			}
			.s6 img{
				&:nth-child(1){
					animation: fadeInUp $dur forwards;
				}
			}
		}
	}
	&.down{
		&.step5{
			.s5 img{
				&:nth-child(3){
					animation: fadeInDown $dur forwards;
				}
			}
			.s6 img{
				&:nth-child(1){
					animation: fadeOutDown $dur forwards;
				}
			}
		}
	}
}

.p12{
	img{
		opacity: 0;
	}	
	&.step1{
		.s1 img{
			position: absolute;
			&:nth-child(1){
				width:5.316456rem;
				top: 1.632911rem;
				left: 0.56962rem;
				animation: fadeInLeft $dur .5s forwards;
			}
			&:nth-child(2){
				width:4.696203rem;
				top: 2.78481rem;
				left: 4.379747rem;
				animation: fadeInUp $dur $gap*1+.5s forwards;
			}
			&:nth-child(3){
				width:4.481013rem;
				top: 7.417722rem;
				left: 4.443038rem;
				animation: fadeInUp $dur $gap*2+.5s forwards;
			}
			&:nth-child(4){
				width:2.78481rem;
				top: 8.481013rem;
				left: 6.012658rem;
				animation: fadeInUp $dur $gap*3+.5s forwards;
			}
			&:nth-child(5){
				width:3.43038rem;
				top: 10.860759rem;
				left: 6.025316rem;
				animation: fadeIn $dur $gap*4+.5s forwards;
			}
		}
	}
	&.step2{
		.s2 img{
			position: absolute;
			&:nth-child(1){
				width:7.924051rem;
				top: 1.64557rem;
				left: 1.21519rem;
				animation: fadeInRight $dur .5s forwards;
			}
			&:nth-child(2){
				width:7.987342rem;
				top: 7.936709rem;
				left: 1.164557rem;
				animation: fadeInDown $dur $gap*1+.5s forwards;
			}
		}
	}
	&.step3,&.step4,&.step5{
		.s3 img{
			position: absolute;
			&:nth-child(1){
				width:10.0rem;
				top: 1.64557rem;
				left: 0;
				animation: fadeIn $dur .5s forwards;
			}
		}
	}
	&.up.step3{
		.s3 img{
			position: absolute;
			&:nth-child(2){
				width:7.518987rem;
				top: 2.64557rem;
				left: 1.240506rem;
				animation: fadeInUp $dur $gap*1+.5s forwards;
			}
		}
	}
	&.up.step4{
		.s3 img{
			position: absolute;
			&:nth-child(2){
				width:7.518987rem;
				top: 2.64557rem;
				left: 1.240506rem;
				animation: fadeOutUp $dur forwards;
			}
		}
		.s4 img{
			position: absolute;
			&:nth-child(1){
				width:7.518987rem;
				top: 2.64557rem;
				left: 1.240506rem;
				animation: fadeInUp $dur forwards;
			}
		}
	}
	&.up.step5{
		.s4 img{
			position: absolute;
			&:nth-child(1){
				width:7.518987rem;
				top: 2.64557rem;
				left: 1.240506rem;
				animation: fadeOutUp $dur forwards;
			}
		}
		.s5 img{
			position: absolute;
			&:nth-child(1){
				width:7.518987rem;
				top: 2.64557rem;
				left: 1.240506rem;
				animation: fadeInUp $dur .5s forwards;
			}
		}
	}
	&.down{
		&.step3{
			.s3 img{
				position: absolute;
				&:nth-child(2){
					width:7.518987rem;
					top: 2.64557rem;
					left: 1.240506rem;
					animation: fadeInDown $dur forwards;
				}
			}
			.s4 img{
				position: absolute;
				&:nth-child(1){
					width:7.518987rem;
					top: 2.64557rem;
					left: 1.240506rem;
					animation: fadeOutDown $dur forwards;
				}
			}
		}
		&.step4{
			.s4 img{
				position: absolute;
				&:nth-child(1){
					width:7.518987rem;
					top: 2.64557rem;
					left: 1.240506rem;
					animation: fadeInDown $dur forwards;
				}
			}
			.s5 img{
				position: absolute;
				&:nth-child(1){
					width:7.518987rem;
					top: 2.64557rem;
					left: 1.240506rem;
					animation: fadeOutDown $dur forwards;
				}
			}
		}
		&.step5{
			.s5 img{
				&:nth-child(1){
					width:7.518987rem;
					top: 2.64557rem;
					left: 1.240506rem;
					animation: fadeInDown $dur forwards;
				}
			}
		}
	}
}

.p13{
	&.step1,&.step2{
		padding: 1.64557rem 0.56962rem 0;
		.s1{
			position: relative;
			img{
				position: absolute;
				height: 13.0rem;
				width: 26.189873rem;
				transition-property: left;
				transition-duration: $dur*6;
			}
		}
	}
	&.step1{
		.s1{
			img{
				left: 0;
			}
		}
		&.init .s1 img{
			animation: fadeInRight $dur*3 forwards;
		}
	}
	&.step2{
		.s1{
			img{
				left: -17.329114rem;
			}
		}
	}
}

@keyframes p14 {
	from { 
		top: 1.64557rem;
		left: -4.227848rem;
		height:13.544304rem;
		width: 20.329114rem;
	}
	to { 
		top: 1.658228rem;
		left: 0.56962rem;
		height:5.797468rem;
		width: 8.860759rem;
	}
}
.p14{
	img{
		opacity: 0;
	}
	&.step1{
		.s1 img{
			position: absolute;
			&:nth-child(1){
				height:13.544304rem;
				width: 20.329114rem;
				top: 1.64557rem;
				left: -4.227848rem;
				animation: fadeInUp $dur .5s forwards;
			}
		}
	}
	&.step2{
		.s1 img{
			position: absolute;
			&:nth-child(1){
				opacity:1;
				top: 1.64557rem;
				left: -4.227848rem;
				height:13.544304rem;
				width: 20.329114rem;
				animation: p14 $dur .5s forwards;
			}
		}
		.s2 img{
			position: absolute;
			&:nth-child(1){
				width:8.898734rem;
				top: 8.835443rem;
				left: 0.556962rem;
				animation: fadeInUp $dur $gap*1+0.5s forwards;
			}
			&:nth-child(2){
				width:5.987342rem;
				top: 10.455696rem;
				left: 2.050633rem;
				animation: fadeInUp $dur $gap*2+0.5s forwards;
			}
			&:nth-child(3){
				width:5.405063rem;
				top: 11.544304rem;
				left: 2.291139rem;
				animation: fadeInUp $dur $gap*3+0.5s forwards;
			}
			&:nth-child(4){
				width:2.164557rem;
				top: 14.265823rem;
				left: 3.835443rem;
				animation: fadeInUp $dur $gap*4+0.5s forwards;
			}
		}
	}

	&.step3,&.step4{
		.s3 img{
			position: absolute;
			&:nth-child(1){
				width:3.810127rem;
				top: 1.632911rem;
				left: 0.670886rem;
				animation: fadeInLeft $dur 0.5s forwards;
			}
			
		}
	}
	&.up.step3{
		.s3 img{
			&:nth-child(2){
				width:4.594937rem;
				top: 2.139241rem;
				left: 4.746835rem;
				animation: fadeInUp $dur $gap*1+0.5s forwards;
			}
		}
	}
	&.down.step3{
		.s3 img{
			&:nth-child(2){
				width:4.594937rem;
				top: 2.139241rem;
				left: 4.746835rem;
				animation: fadeInDown $dur forwards;
			}
		}
		.s4 img{
			position: absolute;
			&:nth-child(1){
				width:4.594937rem;
				top: 2.139241rem;
				left: 4.746835rem;
				animation: fadeOutDown $dur forwards;
			}
			
		}
	}
	&.up.step4{
		.s3 img{
			&:nth-child(2){
				width:4.594937rem;
				top: 2.139241rem;
				left: 4.746835rem;
				animation: fadeOutUp $dur forwards;
			}
		}
		.s4 img{
			position: absolute;
			&:nth-child(1){
				width:4.594937rem;
				top: 2.139241rem;
				left: 4.746835rem;
				animation: fadeInUp $dur forwards;
			}
			
		}
	}
	&.down.step4{
		.s4 img{
			position: absolute;
			&:nth-child(1){
				width:4.594937rem;
				top: 2.139241rem;
				left: 4.746835rem;
				animation: fadeInDown $dur $gap*1+0.5s forwards;
			}
			
		}
	}

	&.step5,&.step6{
		.s5 img{
			position: absolute;
			&:nth-child(1){
				width:3.810127rem;
				top: 1.632911rem;
				left: 0.670886rem;
				animation: fadeInLeft $dur 0.5s forwards;
			}
			
		}
	}
	&.up.step5{
		.s5 img{
			&:nth-child(2){
				width:4.594937rem;
				top: 2.139241rem;
				left: 4.746835rem;
				animation: fadeInUp $dur $gap*1+0.5s forwards;
			}
		}
	}
	&.down.step5{
		.s5 img{
			&:nth-child(2){
				width:4.594937rem;
				top: 2.139241rem;
				left: 4.746835rem;
				animation: fadeInDown $dur forwards;
			}
		}
		.s6 img{
			position: absolute;
			&:nth-child(1){
				width:4.594937rem;
				top: 2.139241rem;
				left: 4.746835rem;
				animation: fadeOutDown $dur forwards;
			}
			
		}
	}
	&.up.step6{
		.s5 img{
			&:nth-child(2){
				width:4.594937rem;
				top: 2.139241rem;
				left: 4.746835rem;
				animation: fadeOutUp $dur forwards;
			}
		}
		.s6 img{
			position: absolute;
			&:nth-child(1){
				width:4.594937rem;
				top: 2.139241rem;
				left: 4.746835rem;
				animation: fadeInUp $dur forwards;
			}
			
		}
	}

	&.down.step6{
		.s6 img{
			position: absolute;
			&:nth-child(1){
				width:4.594937rem;
				top: 2.139241rem;
				left: 4.746835rem;
				animation: fadeInDown $dur $gap*1+0.5s forwards;
			}
		}
	}


	&.step7,&.step8,&.step9{
		.s7 img{
			position: absolute;
			&:nth-child(1){
				width:8.037975rem;
				top: 1.64557rem;
				left: 0.974684rem;
				animation: fadeInLeft $dur .5s forwards;
			}
		}
	}
	&.step7{
		.s7 img{
			&:nth-child(2){
				width:8.025316rem;
				top: 9.721519rem;
				left: 0.987342rem;
				animation: fadeInUp $dur $gap*1+0.5s forwards;
			}
		}
	}
	&.down.step7{
		.s7 img{
			&:nth-child(2){
				width:8.025316rem;
				top: 9.721519rem;
				left: 0.987342rem;
				animation: fadeInDown $dur forwards;
			}
		}
		.s8 img{
			position: absolute;
			&:nth-child(1){
				width:8.025316rem;
				top: 9.721519rem;
				left: 0.987342rem;
				animation: fadeOutDown $dur forwards;
			}
		}
	}
	&.up.step8{
		.s7 img{
			&:nth-child(2){
				width:8.025316rem;
				top: 9.721519rem;
				left: 0.987342rem;
				animation: fadeOutUp $dur forwards;
			}
		}
		.s8 img{
			position: absolute;
			&:nth-child(1){
				width:8.025316rem;
				top: 9.721519rem;
				left: 0.987342rem;
				animation: fadeInUp $dur forwards;
			}
		}
	}
	&.down.step8{
		.s8 img{
			position: absolute;
			&:nth-child(1){
				width:8.025316rem;
				top: 9.721519rem;
				left: 0.987342rem;
				animation: fadeInDown $dur forwards;
			}
		}
		.s9 img{
			position: absolute;
			&:nth-child(1){
				width:8.025316rem;
				top: 9.721519rem;
				left: 0.987342rem;
				animation: fadeOutDown $dur forwards;
			}
		}
	}
	&.up.step9{
		.s8 img{
			position: absolute;
			&:nth-child(1){
				width:8.025316rem;
				top: 9.721519rem;
				left: 0.987342rem;
				animation: fadeOutUp $dur forwards;
			}
		}
		.s9 img{
			position: absolute;
			&:nth-child(1){
				width:8.025316rem;
				top: 9.721519rem;
				left: 0.987342rem;
				animation: fadeInUp $dur forwards;
			}
		}
	}
}

.p15{
	img{
		opacity: 0;
	}
	&.step1{
		.s1 img{
			position: absolute;
			&:nth-child(1){
				width:8.860759rem;
				top: 1.64557rem;
				left: 0.56962rem;
				animation: fadeInLeft $dur .5s forwards;
			}
			&:nth-child(2){
				width:3.974684rem;
				top: 8.367089rem;
				left: 0.56962rem;
				animation: fadeInLeft $dur $gap*1+0.5s forwards;
			}
			&:nth-child(3){
				width:4.531646rem;
				top: 8.367089rem;
				left: 4.911392rem;
				animation: fadeInUp $dur $gap*2+0.5s forwards;
			}
			&:nth-child(4){
				width:2.341772rem;
				top: 11.075949rem;
				left: 7.037975rem;
				animation: fadeInUp $dur $gap*3+0.5s forwards;
			}
			&:nth-child(5){
				width:4.531646rem;
				top: 11.860759rem;
				left: 4.860759rem;
				animation: fadeInUp $dur $gap*4+0.5s forwards;
			}
		}
	}
	&.step2{
		.s2 img{
			position: absolute;
			&:nth-child(1){
				width:8.075949rem;
				top: 1.632911rem;
				left: 0.962025rem;
				animation: fadeInRight $dur .5s forwards;
			}
			&:nth-child(2){
				width:8.088608rem;
				top: 7.911392rem;
				left: 0.822785rem;
				animation: fadeInRight $dur $gap*1+0.5s forwards;
			}
			
		}
	}
	&.step3{
		.s3 img{
			position: absolute;
			&:nth-child(1){
				width:8.075949rem;
				top: 2.303797rem;
				left: 0.962025rem;
				animation: fadeInLeft $dur .5s forwards;
			}
			&:nth-child(2){
				width:8.063291rem;
				top: 8.620253rem;
				left: 0.974684rem;
				animation: fadeInRight $dur $gap*1+0.5s forwards;
			}
			
		}
	}
	&.step4{
		.s4 img{
			position: absolute;
			&:nth-child(1){
				width:4.101266rem;
				top: 2.151899rem;
				left: 0.56962rem;
				animation: fadeInLeft $dur $gap*1+0.5s forwards;
			}
			&:nth-child(2){
				width:4.443038rem;
				top: 2.151899rem;
				left: 4.987342rem;
				animation: fadeInLeft $dur .5s forwards;
			}
			
		}
	}
	&.step5{
		.s5 img{
			position: absolute;
			&:nth-child(1){
				width:4.101266rem;
				top: 2.151899rem;
				left: 0.56962rem;
				animation: fadeInRight $dur 0.5s forwards;
			}
			&:nth-child(2){
				width:4.443038rem;
				top: 2.151899rem;
				left: 4.987342rem;
				animation: fadeInRight $dur $gap*1+0.5s forwards;
			}
			
		}
	}
	&.step6,&.step7{
		.s6 img{
			position: absolute;
			&:nth-child(1){
				width:3.924051rem;
				top: 1.658228rem;
				left: 1.025316rem;
				animation: fadeInUp $dur 0.5s forwards;
			}
			&:nth-child(2){
				width:3.924051rem;
				top: 1.658228rem;
				left: 5.113924rem;
				animation: fadeInUp $dur $gap*1+0.5s forwards;
			}
			
		}
	}
	&.step6{
		.s6 img{
			&:nth-child(3){
				width:8.063291rem;
				top: 7.177215rem;
				left: 0.974684rem;
				animation: fadeInUp $dur $gap*2+0.5s forwards;
			}
			
		}
	}
	&.down.step6{
		.s6 img{
			&:nth-child(3){
				width:8.063291rem;
				top: 7.177215rem;
				left: 0.974684rem;
				animation: fadeInDown $dur  forwards;
			}
			
		}
		.s7 img{
			position: absolute;
			&:nth-child(1){
				width:8.063291rem;
				top: 7.177215rem;
				left: 0.974684rem;
				animation: fadeOutDown $dur forwards;
			}
			
		}
	}
	&.step7{
		.s7 img{
			position: absolute;
			&:nth-child(1){
				width:8.063291rem;
				top: 7.177215rem;
				left: 0.974684rem;
				animation: fadeInUp $dur forwards;
			}
			
		}
	}
}

.p16{
	img{
		opacity: 0;
	}
	&.step1{
		.s1 img{
			position: absolute;
			&:nth-child(1){
				width:8.64557rem;
				top: 2.481013rem;
				left: 0.810127rem;
				animation: fadeInUp $dur .5s forwards;
			}
			&:nth-child(2){
				width:4.974684rem;
				top: 5.177215rem;
				left: 2.56962rem;
				animation: fadeInUp $dur $gap*1+0.5s forwards;
			}
			&:nth-child(3){
				width:7.392405rem;
				top: 6.35443rem;
				left: 1.21519rem;
				animation: fadeInUp $dur $gap*2+0.5s forwards;
			}
			&:nth-child(6){
				width:1.835443rem;
				top: 11.012658rem;
				left: 7.379747rem;
				animation: fadeIn $dur $gap*5+0.5s forwards;
			}
		}
	}
	&.up.step1{
		.s1 img{
			&:nth-child(4){
				width:8.848101rem;
				top: 7.21519rem;
				left: 0.56962rem;
				animation: fadeInUp $dur $gap*3+0.5s forwards;
			}
			&:nth-child(5){
				width:8.797468rem;
				top: 13.493671rem;
				left: 0.582278rem;
				animation: fadeInUp $dur $gap*4+0.5s forwards;
			}
		}
	}
	&.step2{
		.s1 img{
			position: absolute;
			&:nth-child(1){
				width:8.64557rem;
				top: 2.481013rem;
				left: 0.810127rem;
				animation: fadeInUp $dur .5s forwards;
			}
			&:nth-child(2){
				width:4.974684rem;
				top: 5.177215rem;
				left: 2.56962rem;
				animation: fadeInUp $dur $gap*1+0.5s forwards;
			}
			&:nth-child(3){
				width:7.392405rem;
				top: 6.35443rem;
				left: 1.21519rem;
				animation: fadeInUp $dur $gap*2+0.5s forwards;
			}
			&:nth-child(6){
				width:1.835443rem;
				top: 11.012658rem;
				left: 7.379747rem;
				animation: fadeIn $dur $gap*5+0.5s forwards;
			}
		}
	}
	&.down.step1{
		.s1 img{
			&:nth-child(4){
				width:8.848101rem;
				top: 7.21519rem;
				left: 0.56962rem;
				animation: fadeInDown $dur forwards;
			}
			&:nth-child(5){
				width:8.797468rem;
				top: 13.493671rem;
				left: 0.582278rem;
				animation: fadeInDown $dur 0.5s forwards;
			}
		}
	}
	&.up.step2{
		.s1{
			&:nth-child(4){
				width:8.848101rem;
				top: 7.21519rem;
				left: 0.56962rem;
				animation: fadeInUp $dur forwards;
			}
			&:nth-child(5){
				width:8.797468rem;
				top: 13.493671rem;
				left: 0.582278rem;
				animation: fadeInUp $dur forwards;
			}
		}
		.s2 img{
			position: absolute;
			&:nth-child(1){
				width:8.848101rem;
				top: 7.21519rem;
				left: 0.56962rem;
				animation: fadeInUp $dur forwards;
			}
			&:nth-child(2){
				width:8.797468rem;
				top: 13.493671rem;
				left: 0.582278rem;
				animation: fadeInUp $dur 0.5s forwards;
			}
		}
	}
	&.down.step2{
		.s2 img{
			position: absolute;
			&:nth-child(1){
				width:8.848101rem;
				top: 7.21519rem;
				left: 0.56962rem;
				animation: fadeInUp $dur $gap*3+0.5s forwards;
			}
			&:nth-child(2){
				width:8.797468rem;
				top: 13.493671rem;
				left: 0.582278rem;
				animation: fadeInUp $dur $gap*4+0.5s forwards;
			}
		}
	}
	&.step3,&.step4{
		.s3{
			position: absolute;
			top: 1.64557rem;
			background: url(../images/p16-bg.jpg) no-repeat;
			width: 15.303797rem;
			height: 100%;
			left: 0;
			background-size: cover;
			transition-property: left;
			transition-duration: $dur;
			img{
				position: absolute;
				&:nth-child(1){
					width:2.088608rem;
					top: 0.556962rem;
					left: 0.189873rem;
				}
				&:nth-child(2){
					width:2.316456rem;
					top: 7.063291rem;
					left: 0.189873rem;
				}
				&:nth-child(3){
					width:2.658228rem;
					top: 7.063291rem;
					left: 2.632911rem;
				}
				&:nth-child(4){
					width:2.265823rem;
					top: 0.556962rem;
					left: 2.455696rem;
				}
				&:nth-child(5){
					width:3.56962rem;
					top: 0.556962rem;
					left: 4.860759rem;
				}
				&:nth-child(6){
					width:2.202532rem;
					top: 7.063291rem;
					left: 5.417722rem;
				}
				&:nth-child(7){
					width:2.202532rem;
					top: 7.063291rem;
					left: 7.746835rem;
				}
				&:nth-child(8){
					width:2.481013rem;
					top: 0.556962rem;
					left: 8.607595rem;
				}
				&:nth-child(9){
					width:2.620253rem;
					top: 7.063291rem;
					left: 10.088608rem;
				}
				&:nth-child(10){
					width:3.772152rem;
					top: 0.556962rem;
					left: 11.278481rem;
				}
				&:nth-child(11){
					width:2.21519rem;
					top: 7.063291rem;
					left: 12.835443rem;
				}
				&:nth-child(12){
					width:14.582278rem;
					top: 6.240506rem;
					left: 0.189873rem;
				}
				&:nth-child(13){
					width:14.253165rem;
					top: 12.822785rem;
					left: 0.443038rem;
				}
				&:nth-child(14){
					width:1.544304rem;
					top: 10.4rem;
					left: 2rem;
				}
				&:nth-child(15){
					width:1.860759rem;
					top: 3.8rem;
    				left: 3.5rem;
				}
				&:nth-child(16){
					width:1.506329rem;
					top: 4.3rem;
    				left: 11.2rem;
				}
				@for $i from 0 through 15 {
				  &:nth-child(#{$i+1}){ 
					animation: fadeIn $dur 0.3*$i+0.5s forwards;
				  }
				}
			}
			
		}
	}
	&.step4{
		.s3{
			left: -5.303797rem;
		}
	}
}

.end{

	& .logo{
		position: absolute;
		top:6.075949rem;
		left:0.35443rem;
		opacity: 0;
		width:9.050633rem;
		height:2.987342rem;
	}
	&.current .logo{
		-webkit-animation: endlogo 4s forwards;
	}
	@-webkit-keyframes endlogo {
		0% {  }
		50%{
			top:6.075949rem;
			left:0.35443rem;
			width:9.050633rem;
			height:2.987342rem;
		}
		100% { 
			top:1.531646rem;
			width: 6.911392rem;
			left: 1.493671rem;
			opacity: 1; 
		}
	}
	.line{
		position: absolute;
		opacity: 0;
		width: 8.35443rem;
		top: 0.822785rem;
		left: 0.822785rem;
	}
	&.current .line{
		-webkit-animation: fadeIn 1s 2s forwards;
	}
	img:nth-child(2){
		position: absolute;
		width: 1.481013rem;
		top: 4.607595rem;
		left: 4.21519rem;
		opacity: 0;
	}
	&.current img:nth-child(2){
		-webkit-animation: fadeInUp $dur $gap+3s forwards;
	}
	img:nth-child(3){
		position: absolute;
		width: 1.481013rem;
		top: 7.962025rem;
		left: 4.21519rem;
		opacity: 0;
	}
	&.current img:nth-child(3){
		-webkit-animation: fadeInUp $dur $gap*2+3s forwards;
	}
	img:nth-child(4){
		position: absolute;
		width: 4.493671rem;
		top: 11.43038rem;
		left: 2.708861rem;
		opacity: 0;
	}
	&.current img:nth-child(4){
		-webkit-animation: fadeInUp $dur $gap*3+3s forwards;
	}
	img:nth-child(5){
		position: absolute;
		width: 6.835443rem;
		top: 12.860759rem;
		left: 1.544304rem;
		opacity: 0;
	}
	&.current img:nth-child(5){
		-webkit-animation: fadeInUp $dur $gap*4+3s forwards;
	}
}

.sharelayer{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.8);
	display: none;
	img{
		position: absolute;
		width: 3.253165rem;
		left: 5.911392rem;
		top: 0.43038rem;
	}	
}

@keyframes arrow {
	from { 
		transform: translateY(0);
	}
	50% {
		transform: translateY(-0.2rem);
	}
	to { 
		transform: translateY(0);
	}
}
.arrow{
	position: absolute;
	z-index: 99;
	width: 0.556962rem;
	height: 0.303797rem;
	background: url(../images/arrow.png) no-repeat;
	background-size: 100%;
	bottom: 0;
	left: 4.835443rem;
	animation: arrow 1s infinite;
}